@import "tailwindcss";
@plugin "daisyui";

body {
  background: url("../public/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
